.text-search{
    top: 55px !important;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ced4da;
    z-index: 99;
    width: 40%;
}

@media only screen and (max-width: 576px) {
    .text-search{
        width: 90%;
    }
}