<div class="form-home pt-0 animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-12">
            <h1 class="font-30 mb-0">{{'recover_password' | translate}}</h1>
            <p *ngIf="!reset && op==0" class="font-12">{{'recover_password_message' | translate}}</p>
        </div>
    </div>
    <ng-container *ngIf="!reset">
        <form *ngIf="op==0" autocomplete="off" (ngSubmit)="forgot()" [formGroup]="form">
            <div class="row">
                <div class="col-12">
                    <div class="field">
                        <label for="email" class="d-block">{{'into_email' | translate}}</label>
                        <div class="d-flex align-items-center">
                            <input formControlName="email" id="email" [ngClass]="{'ng-invalid ng-dirty': f['email'].invalid && f['email'].touched}" class="w-100 me-2" type="email" [placeholder]="'email' | translate" aria-describedby="email" pInputText/>
                            <ng-container *ngIf="!loading; else load">
                                <button type="submit" class="btn btn-pf-primary" [disabled]="loading">
                                    {{'send' | translate}}
                                </button>
                            </ng-container>
                            <ng-template #load>
                                <span class="spinner-grow text-pf-primary mx-auto" style="width: 1.5rem; height: 1.5rem;"></span>
                            </ng-template>
                        </div>
                        <div *ngIf="f['email'].invalid && f['email'].touched && f['email'].errors!=null" class="text-danger ps-2 pt-1 font-12">
                            <small id="email-help" *ngIf="f['email'].errors['required']" class="block">{{'required_field' | translate}}</small>
                            <small id="email-help" *ngIf="f['email'].errors['pattern']" class="block">{{'email_invalid' | translate}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <re-captcha (resolved)="resolved($event)" [siteKey]="siteKey" class="w-auto mx-auto d-inline-block"></re-captcha>
                </div>

                <!--  <div class="col-12">
                    <p-captcha siteKey="6Lf2XQkTAAAAANcvOwYqPxWL4iZDksFqHpS39GDA" (onResponse)="showResponse($event)"></p-captcha>
                </div> -->
            </div>
        </form>
        <div class="row text-center animate__animated animate__fadeIn" *ngIf="op==1">
            <div class="col-12">
                <img src="assets/images/check.png" class="mx-auto d-block" alt="">
            </div>
            <div class="col-12">
                <p class="font-20"> {{'exists_forgot' | translate}} </p>
                <p class="font-14"> {{'spam' | translate}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center font-13"><a href="javascript: void(0);" (click)="goLogin()" class="text-decoration-none text-pf-primary">{{'login' | translate}}</a></div>
        </div>
    </ng-container>
    <ng-container *ngIf="reset">
        <form autocomplete="off" *ngIf="op!=3" (ngSubmit)="resetPassword()" [formGroup]="formReset">
            <div class="row">
                <div class="col-12">
                    <div class="field">
                        <label for="password" class="d-block">{{'password' | translate}} <span class="text-danger">*</span></label>
                        <div class="row">
                            <div class="col-10">
                                <p-password formControlName="password" (click)="op.toggle($event)" [ngClass]="{'ng-invalid ng-dirty': fR['password'].invalid && fR['password'].touched}" [placeholder]="'password' | translate" class="w-100" styleClass="p-pf-paswword" [feedback]="false"
                                    [toggleMask]="true"></p-password>
                                <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="false">
                                    <ng-template pTemplate>
                                        <p class="mt-2 font-16">{{'suggestions' | translate}}</p>
                                        <p-divider></p-divider>

                                        <ul class="pl-2 ml-2 mt-0 font-13" style="line-height: 1.5">
                                            <li [ngClass]="fR['password'].errors!=null && (fR['password'].errors['required'] || fR['password'].errors['minlength']) ? '' : 'text-success'">{{'min_value_field' | translate:{length: '8'} }}</li>
                                            <li [ngClass]="fR['password'].errors!=null && (fR['password'].errors['required'] || fR['password'].errors['hasNumber']) ? '' : 'text-success'">{{'least_numeric' | translate}}</li>
                                            <li [ngClass]="fR['password'].errors!=null && (fR['password'].errors['required'] || fR['password'].errors['hasCapitalCase']) ? '' : 'text-success'">{{'least_uppercase' | translate}}</li>
                                            <li [ngClass]="fR['password'].errors!=null && (fR['password'].errors['required'] || fR['password'].errors['hasSmallCase']) ? '' : 'text-success'">{{'least_lowercase' | translate}}</li>
                                            <li [ngClass]="fR['password'].errors!=null && (fR['password'].errors['required'] || fR['password'].errors['hasSpecialCharacters']) ? '' : 'text-success'">{{'least_character_special' | translate}}</li>
                                        </ul>
                                    </ng-template>
                                </p-overlayPanel>
                                <div *ngIf="fR['password'].invalid && fR['password'].touched && fR['password'].errors!=null" class="text-danger ps-2 pt-1 font-12">
                                    <small id="password-help" *ngIf="fR['password'].errors['required']" class="block">{{'required_field' | translate}}</small>
                                    <small id="password-help" *ngIf="fR['password'].errors['minlength']" class="block">{{'min_value_field' | translate:{length: '8'} }}</small>
                                    <small id="password-help" *ngIf="fR['password'].errors['hasNumber']" class="block">{{'least_numeric' | translate:{length: '8'} }}</small>
                                    <small id="password-help" *ngIf="fR['password'].errors['hasCapitalCase']" class="block">{{'least_uppercase' | translate:{length: '8'} }}</small>
                                    <small id="password-help" *ngIf="fR['password'].errors['hasSmallCase']" class="block">{{'least_lowercase' | translate:{length: '8'} }}</small>
                                    <small id="password-help" *ngIf="fR['password'].errors['hasSpecialCharacters']" class="block">{{'least_character_special' | translate:{length: '8'} }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="field">
                        <label for="confirm_password" class="d-block">{{'confirm_password' | translate}} <span class="text-danger">*</span></label>

                        <div class="row">
                            <div class="col-10">
                                <p-password formControlName="password_confirmation" [ngClass]="{'ng-invalid ng-dirty': fR['password_confirmation'].invalid && fR['password_confirmation'].touched}" [placeholder]="'password' | translate" [style]="{'width':'100%'}" class="" styleClass="p-pf-paswword"
                                    [toggleMask]="true" [feedback]="false">
                                </p-password>
                                <div *ngIf="fR['password_confirmation'].invalid && fR['password_confirmation'].touched && fR['password_confirmation'].errors!=null" class="text-danger ps-2 pt-1 font-12">
                                    <small id="password_confirmation-help" *ngIf="fR['password_confirmation'].errors['required']" class="block">{{'required_field' | translate}}</small>
                                    <small id="password_confirmation-help" *ngIf="fR['password_confirmation'].errors['match']" class="block">{{'password_no_match' | translate}}</small>
                                </div>
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <ng-container *ngIf="!loading; else load">
                                    <button type="submit" class="btn btn-pf-primary" [disabled]="loading">
                                            {{'apply' | translate}}
                                        </button>
                                </ng-container>
                                <ng-template #load>
                                    <span class="spinner-grow text-pf-primary mx-auto" style="width: 1.5rem; height: 1.5rem;"></span>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <div class="row text-center animate__animated animate__fadeIn" *ngIf="op==3">
            <div class="col-12">
                <img src="assets/images/check.png" class="mx-auto d-block" alt="">
            </div>
            <div class="col-12">
                <p class="font-20"> {{'succes_forgot' | translate}} </p>
            </div>
        </div>
        <div class="row" *ngIf="op==3">
            <div class="col-12 text-center font-13"><a href="javascript: void(0);" (click)="goLogin()" class="text-decoration-none text-pf-primary">{{'login' | translate}}</a></div>
        </div>
    </ng-container>
</div>