
<div class="page-header animate__animated animate__fadeIn">
    <div class="page-block">
    <div class="row align-items-center">
        <div class="col-md-12">
        <div class="page-header-title">
            <h2 class="m-b-10" [innerHtml]="'blank' | translate | changeTitle"></h2>
            <button class="btn btn-pf-primary more-btn ml-auto" routerLink="/question-bank/create-edit-question-bank">
                <img src="assets/images/more.png" width="20px" class="btn-img cursor-pointer" alt="">
            </button>
        </div>
        <!-- <ul class="breadcrumb">
            <li class="breadcrumb-item">
            <a [routerLink]="['/dashboard/default/']" *ngIf="type === 'theme2'"><i class="feather icon-home"></i></a>
            <a [routerLink]="['/dashboard/default/']" *ngIf="type === 'theme1'">Home</a>
            </li> -->
            <!-- <ng-container *ngFor="let breadcrumb of navigationList">
            <li class="breadcrumb-item" *ngIf="breadcrumb.url !== false"><a [routerLink]="breadcrumb.url">{{breadcrumb.title}}</a></li>
            <li class="breadcrumb-item" *ngIf="breadcrumb.url === false"><a href="javascript:">{{breadcrumb.title}}</a></li>
            </ng-container> -->
        <!-- </ul> -->
        </div>
    </div>
    </div>
</div>
<div class="row pt-4 animate__animated animate__fadeIn">
    <div class="col-sm-12">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>        
    </div>
</div>
    