<div class="page-header animate__animated animate__fadeIn">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h2 class="m-b-10">{{ "assign_checker" | translate }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-4 animate__animated animate__fadeIn">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <!-- <button class="btn btn-pf-primary" (click)="location.back()">
      <img src="assets/images/back.svg" class="btn-img" width="20px" alt="" />
    </button> -->
        <div class="row">
            <div class="col-12 font-24">
                <img src="assets/images/filter.png" class="me-4" style="vertical-align: initial;" alt=""> {{'filter' | translate}}
            </div>
            <div class="col-12">
                <p-accordion [multiple]="true" styleClass="filter-business" expandIcon="pi pi-plus-circle" collapseIcon="pi pi-minus-circle">
                    <p-accordionTab [header]="'period'| translate">
                        <ul class="filter-list mb-0">
                            <ng-container *ngIf="listPeriod.length==0; else nolistPeriod">
                                <li>{{'no_records' | translate}}</li>
                            </ng-container>
                            <ng-template #nolistPeriod>
                                <li *ngFor="let period of listPeriod" class="cursor-pointer" [ngClass]="{'text-pf-primary': periodo&&periodo.id==period.id}" (click)="applyFilterPeriod(period)">{{period.name | translate}}</li>
                            </ng-template>
                        </ul>
                    </p-accordionTab>
                    <p-accordionTab [header]="'commodity' | translate">
                        <ul class="filter-list mb-0">
                            <ng-container *ngIf="listCommodity&&listCommodity.length==0; else nolistCommodity">
                                <li>{{'no_records' | translate}}</li>
                            </ng-container>
                            <ng-template #nolistCommodity>
                                <li *ngFor="let comm of listCommodity" class="cursor-pointer" [ngClass]="{'text-pf-primary': commodity&&commodity.id==comm.id}" (click)="searchCommodity(comm)">{{comm.name[lang.code]}}</li>
                            </ng-template>
                        </ul>
                    </p-accordionTab>
                    <p-accordionTab [header]="'type_actor' | translate">
                        <ul class="filter-list mb-0">
                            <ng-container *ngIf="listActorType&&listActorType.length==0; else nolistActorType">
                                <li>{{'no_records' | translate}}</li>
                            </ng-container>
                            <ng-template #nolistActorType>
                                <li *ngFor="let actor of listActorType" class="cursor-pointer" [ngClass]="{'text-pf-primary': actor_type&&actor_type.id==actor.id}" (click)="searchActorType(actor)">{{actor.name[lang.code]}}</li>
                            </ng-template>
                        </ul>
                    </p-accordionTab>
                    <!-- status_revision
listStatusRevision -->
                    <p-accordionTab [header]="'status_checked' | translate">
                        <ul class="filter-list mb-0">
                            <ng-container *ngIf="listStatusRevision&&listStatusRevision.length==0; else nolistStatusRevision">
                                <li>{{'no_records' | translate}}</li>
                            </ng-container>
                            <ng-template #nolistStatusRevision>
                                <li *ngFor="let status of listStatusRevision" class="cursor-pointer" [ngClass]="{'text-pf-primary': status_revision&&status_revision.id==status.id}" (click)="searchStatusRevision(status)">{{status.name | translate}}</li>
                            </ng-template>
                        </ul>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
        <div class="data-validated mt-2 mb-2">
            <div class="row">
                <div class="font-12 fw-bold">
                    <div class="py-3 ps-1" style="
              border-left: 10px solid #ff5e61;
              border-top-left-radius: 9px;
              border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05); ;
            ">
                        {{ "without_checking" | translate }}
                    </div>
                </div>

                <div class="font-12 fw-bold">
                    <div class="py-3 ps-1" style="
              border-left: 10px solid #4b5897;
              border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05); ;
            ">
                        {{ "in_process" | translate }}
                    </div>
                </div>

                <div class="font-12 fw-bold">
                    <div class="py-3 ps-1" style="
              border-left: 10px solid #00a7b0;
              border-bottom-left-radius: 9px;
            ">
                        {{ "verified" | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
                        <div class="row container-search">
                            <div class="box-search col-lg-4 col-md-4 col-sm-4 col-xs-12 mb-2">
                                <span class="p-input-icon-left w-100 w-search-list">
                  <i class="pi pi-search" style="color: var(--pf-blue)"></i>
                  <input
                    type="text"
                    [(ngModel)]="name"
                    (ngModelChange)="applyFilter($event)"
                    class="w-100"
                    style="
                      padding-left: 2.5rem !important;
                      border-radius: 26px !important;
                    "
                    pInputText
                    [placeholder]="'search' | translate"
                  />
                </span>
                            </div>
                            <div class="box-search col-lg-4 col-md-4 col-sm-4 col-xs-12 mb-2">
                                <span class="p-input-icon-left w-100 w-search-list">
                  <div class="search-calendar">
                    <p-calendar
                      id="year"
                      [(ngModel)]="year"
                      (ngModelChange)="applyFilterYear()"
                      view="year"
                      dateFormat="yy"
                      inputId="yearpicker"
                      [placeholder]="'year' | translate"
                      [showClear]="true"
                      (onClear)="clearYear()"
                    ></p-calendar>
                  </div>
                </span>
                            </div>
                            <!-- <div class="box-search col-lg-6 col-md-6 col-sm-6 col-xs-4 mb-2">
                            <span class="p-input-icon-left w-100 w-search-list">
                  <p-dropdown
                    id="listPeriod"
                    [options]="listPeriod"
                    optionLabel="name"
                    [filter]="true"
                    filterBy="name"
                    [placeholder]="'period' | translate"
                    [autoDisplayFirst]="false"
                    [(ngModel)]="periodo"
                    (onChange)="applyFilterPeriod()"
                    [showClear]="true"
                  >
                    <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value" *ngIf="periodo">
                        <div>
                          {{ periodo.name | translate }}
                        </div>
                      </div>
                    </ng-template>
                    <ng-template let-period pTemplate="item">
                      <div class="country-item">
                        <div>{{ period.name | translate }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </span>
                        </div>
    
                        <div class="box-search col-lg-6 col-md-6 col-sm-6 col-xs-4 mb-2">
                            <span class="p-input-icon-left w-100 w-search-list">
                  <p-dropdown
                    id="listSubcategories"
                    [(ngModel)]="commodity"
                    (ngModelChange)="searchCommodity($event)"
                    [options]="listCommodity"
                    optionLabel="name"
                    [filter]="true"
                    filterBy="name"
                    [placeholder]="'commodity' | translate"
                    [autoDisplayFirst]="false"
                    [showClear]="true"
                  >
                    <ng-template pTemplate="selectedItem">
                      <div
                        class="country-item country-item-value"
                        *ngIf="commodity"
                      >
                        <div>{{ commodity.name[lang.code] }}</div>
                      </div>
                    </ng-template>
                    <ng-template let-category pTemplate="item">
                      <div class="country-item">
                        <div>{{ category.name[lang.code] }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </span>
                        </div>
                        <div class="box-search col-lg-6 col-md-6 col-sm-6 col-xs-4 mb-2">
                            <span class="p-input-icon-left w-100 w-search-list">
                  <p-dropdown
                    id="listActorType"
                    [(ngModel)]="actor_type"
                    (ngModelChange)="searchActorType($event)"
                    [options]="listActorType"
                    optionLabel="name"
                    [filter]="true"
                    filterBy="name"
                    [placeholder]="'type_actor' | translate"
                    [autoDisplayFirst]="false"
                    [showClear]="true"
                  >
                    <ng-template pTemplate="selectedItem">
                      <div
                        class="country-item country-item-value"
                        *ngIf="actor_type"
                      >
                        <div>{{ actor_type.name[lang.code] }}</div>
                      </div>
                    </ng-template>
                    <ng-template let-actor_type pTemplate="item">
                      <div class="country-item">
                        <div>{{ actor_type.name[lang.code] }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </span>
                        </div>
                        <div class="box-search col-lg-6 col-md-6 col-sm-6 col-xs-4 mb-2">
                            <span class="p-input-icon-left w-100 w-search-list">
                  <p-dropdown
                    id="status_revision"
                    [(ngModel)]="status_revision"
                    (ngModelChange)="searchStatusRevision($event)"
                    [options]="listStatusRevision"
                    optionLabel="name"
                    [filter]="true"
                    filterBy="name"
                    [placeholder]="'status_checked' | translate"
                    [autoDisplayFirst]="false"
                    [showClear]="true"
                  >
                    <ng-template pTemplate="selectedItem">
                      <div
                        class="country-item country-item-value"
                        *ngIf="status_revision"
                      >
                        <div>{{ status_revision.name | translate }}</div>
                      </div>
                    </ng-template>
                    <ng-template let-status_revision pTemplate="item">
                      <div class="country-item">
                        <div>{{ status_revision.name | translate }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </span>
                        </div> -->
                            <div class="box-search col-lg-4 col-md-4 col-sm-4 col-xs-12 mb-2">
                                <span class="p-input-icon-left w-100 w-search-list">
                  <p-dropdown
                    id="asignado_a"
                    [(ngModel)]="asignado_a"
                    (ngModelChange)="searchAsignadoA($event)"
                    [options]="listAsignadoA"
                    optionLabel="full_name"
                    [filter]="true"
                    filterBy="full_name"
                    [placeholder]="'assigned_to' | translate"
                    [autoDisplayFirst]="false"
                    [showClear]="true"
                  >
                    <ng-template pTemplate="selectedItem">
                      <div
                        class="country-item country-item-value"
                        *ngIf="asignado_a"
                      >
                        <div>{{ asignado_a.full_name }}</div>
                      </div>
                    </ng-template>
                    <ng-template let-asignado_a pTemplate="item">
                      <div class="country-item">
                        <div>{{ asignado_a.full_name }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </span>
                            </div>
                            <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 mb-2 ">
                            <button class="btn btn-pf-primary w-100 chang-clear" (click)="clear()" type="button">
                  <img
                    width="15px"
                    class="btn-img"
                    src="assets/images/times.png"
                    alt=""
                  />
                </button>
                        </div> -->
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                <button class="btn btn-pf-primary w-xs-100 export-btn" (click)="assignValidator($event, op_en)" type="button">
                  {{ "to_assign" | translate }}
                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 d-flex align-items-center  mt-2">
                        <button class="btn btn-pf-primary w-100 chang-clear" [lang]="lang.code" (click)="clear()" type="button">
                      <img
                        width="15px"
                        class="btn-img"
                        src="assets/images/times.png"
                        alt=""
                      />
                    </button>
                    </div>
                </div>
            </div>
            <app-load-table></app-load-table>
            <div class="example-container position-relative">
                <table mat-table multiTemplateDataRows [dataSource]="dataSource" class="table-list-business">
                    <ng-container matColumnDef="reported_company">
                        <th mat-header-cell *matHeaderCellDef width="20%">
                            {{ "reported_company" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="
                !element.status_revision || element.status_revision == 'SR'
                  ? 'selfreported'
                  : element.status_revision == 'VA'
                  ? 'validated'
                  : 'notvalidated'
              ">
                            <span class="d-block">
                {{ element.reported_company }}
              </span>
                            <span class="d-block font-12 text-pf-secondary">
                {{ element.nit | translate }}
              </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="supplier_company">
                        <th mat-header-cell *matHeaderCellDef width="20%">
                            {{ "supplier_company" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="d-block truncate-business">
                {{ element.supplier_company }}
              </span>
                            <span class="">{{ element.deadline_validation }}</span>
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="reported_user">
                        <th mat-header-cell *matHeaderCellDef width="20%">
                            {{ "validator_user" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="d-block truncate-business">
                {{ element.validator_user }}
              </span>
                            <span class="">{{element.deadline_validation}}</span>
                        </td>
                    </ng-container> -->
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef width="17.5%">
                            {{ "status" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="d-block truncate-business">
                {{ listStatusCodes[element.status_revision].name | translate }}
              </span>
                            <!-- <span class="">{{element.deadline_validation}}</span> -->
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="year">
                        <th mat-header-cell *matHeaderCellDef width="10%">
                            {{ "year" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="d-block truncate-business">
                {{ element.year | translate }}
              </span>
                            <!-- <span class="">{{element.deadline_validation}}</span> -->
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="period">
                        <th mat-header-cell *matHeaderCellDef width="12.5%">
                            {{ "period" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="d-block truncate-business">
                {{ biannual[element.period] | translate }}
              </span>
                            <!-- <span class="">{{element.deadline_validation}}</span> -->
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="more">
                        <th mat-header-cell *matHeaderCellDef width="1%" class="text-center">
                            {{ "more" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <button class="btn border-none" style="margin-top: 5px" (click)="expand(element)">
<i class="pi pi-chevron-down"></i>
</button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                            <div class="example-element-detail" [@detailExpand]="
  element == expandedElement ? 'expanded' : 'collapsed'
">
                                <div class="py-3 w-75 d-block mx-auto more-business">
                                    <div class="row">

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="field">
                                                <label class="d-block">{{ "supplier_company" | translate }}</label>
                                                <input type="text" class="w-100" pInputText readonly value="{{element.supplier_company }}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="field">
                                                <label class="d-block">{{ "status" | translate }}</label>
                                                <input type="text" class="w-100" pInputText readonly value="{{listStatusCodes[element.status_revision].name | translate }}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="field">
                                                <label class="d-block">{{ "year" | translate }}</label>
                                                <input type="text" class="w-100" pInputText readonly value="{{ element.year | translate }}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="field">
                                                <label class="d-block">{{ "period" | translate }}</label>
                                                <input type="text" class="w-100" pInputText readonly value="{{  biannual[element.period] | translate }}" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="example-element-row" [class.example-expanded-row]="displayedColumns === row"></tr>
                    <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="example-detail-row"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">
                            {{ "no_records" | translate }}
                        </td>
                    </tr>
                </table>
                <mat-paginator (page)="paginationChangeSize($event)" [length]="listSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
            </div>
        </div>
    </div>

    <p-dialog [(visible)]="displayConfirm" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '45vw' }" [draggable]="false" [resizable]="false" styleClass="dialog-delete">
        <div class="row text-center">
            <div class="col-12">
                <h3 class="text-center">
                    <b> {{ company ? company.name : "" }}</b>
                </h3>
                <p>{{ "list_of_checkers" | translate }}</p>
            </div>
            <div class="col-12">
                <div class="validators-content">
                    <div class="card-body">
                        <span *ngIf="loadV" class="spinner-grow text-pf-primary d-block mx-auto" tyle="width: 1.5rem; height: 1.5rem;"></span>
                    </div>
                    <mat-radio-group name="opList" fxLayout="column">
                        <div class="validators-list" *ngFor="let item of validators">
                            <div class="validators-box">
                                <div class="validators-name">
                                    <label for="r-item-{{ item.id }}">{{ item.full_name }}</label>
                                </div>
                                <div class="validators-action">
                                    <input name="validatorsIds" id="r-item-{{ item.id }}" (change)="confirmValidatorChange(item.id)" class="form-check-input" type="checkbox" [value]="item.id">
                                    <!-- <mat-radio-button id="r-item-{{ item.id }}" (change)="confirmValidatorChange(item.id)" style="color: #00a7b0" [value]="item.id" [checked]="item.checked">
                                    </mat-radio-button> -->
                                </div>
                            </div>
                        </div>
                    </mat-radio-group>
                    <div>
                        <mat-paginator (page)="paginationValidatorsChangeSize($event)" [length]="listSizeV" [pageSizeOptions]="pageSizeOptionsV"></mat-paginator>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="field">
                    <label>{{ "start_date" | translate }} -
            {{ "end_date" | translate }}</label
          >

          <p-calendar
            class="c-validator"
            selectionMode="range"
            id="end_date_validation"
            [(ngModel)]="range_date_validation"
            dateFormat="dd/mm/yy"
            inputId="enddatevalidation"
            [placeholder]="'dates' | translate"
            [showClear]="true"
            (onClear)="clearRangeDate()"
          ></p-calendar>
        </div>
      </div>
      <div class="col-12 pt-4">
        <p-overlayPanel #op_en [dismissable]="true" [showCloseIcon]="false">
          <ng-template pTemplate>
            <ul
              *ngIf="errorV"
              class="pl-2 ml-2 mt-0 mb-0 font-13"
              style="line-height: 1.5"
            >
              <ng-container>
                <li>{{ errorMessageV | translate }}</li>
              </ng-container>
            </ul>
          </ng-template>
        </p-overlayPanel>

        <ng-container *ngIf="!loading; else load">
          <button
            style="margin: 3px"
            class="btn btn-pf-primary p-btn"
            (click)="confirmValidator($event, op_en)"
          >
            {{ "confirm" | translate }}
          </button>
          <button
            style="margin: 3px"
            class="btn btn-cancel p-btn"
            (click)="cancelValidator()"
          >
            {{ "cancel" | translate }}
          </button>
        </ng-container>
        <ng-template #load>
            <span class="spinner-grow text-pf-primary d-block mx-auto" tyle="width: 1.5rem; height: 1.5rem;"></span>
        </ng-template>
      </div>
    </div>
  </p-dialog>
</div>